.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
.navbar-brand {
    color: #fff !important;
}
.telthem{
	background-image: url(../img/2.jpg);
	min-height: 670px;
	background-size: cover;
}
.mg-top{
	margin-top: 120px;
}
.mg-top h1{
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.mg-top p{
	color: #fff;
	text-align: justify-all;
}

.telthem-login{
	margin-top: 134px;
}
.telthem_card{
	padding: 16px !important;
}
.telthem_footer{
	padding: 10px !important;
}
.telthem_footer h5{
	color: #fff;
	margin-left: 23px;
}
.telthem_footer ul{
	list-style: none;
}
.telthem_footer a{
	text-decoration: none;
	color: #e1e1e1;
	font-weight:bold;
}